body{
    background-size: 100%;					/*图片大小*/
    background-repeat: no-repeat;
    background-image: url(../../img/2.jpg);
}
form{
    width: 250px;
    height: 250px;
    margin-left: 400px;
    margin-top: 100px;
}
div{
    margin-top: 20px;
    margin-left: 30px;
}
label,input{
    margin-top:20px ;
}
div input{
    border: 0px;									/*边框*/
    outline: 0px;									/*轮廓*/
    background: none;								/*背景*/
    border-bottom: 1px solid blue;					/*下边框*/
}


