/*背景图片*/
body{
    background-image: url(../../img/1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
/*form表单*/
form{
    width: 400px;
    height: 400px;
    margin-left: 400px;
    margin-top: 100px;
}


label,input{
    font-size: 15px;
}

#input-password{
    margin-left: 15px;
}

/*修改按钮*/
#sumbit-xiugai{
    margin-left: 170px;
    margin-top: 100px;
}
/*取消按钮*/
#button-quxiao{
    margin-top: 100px;
    margin-left: 30px;
}
