/*背景图片*/
body{
    background-image: url("../../img/denglujiemian.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
}

/*登录界面标题*/
#diyige{
    width: 300px;
    height: 70px;
}

/*logo*/
#img{
    width: 70px;
    height: 70px;
    opacity: 0.5;
    margin-top: 10px;
    margin-left: 20px;
    background-image: url("../../img/logo.png");
    background-size: 100%;
    background-repeat: no-repeat;
    float: left;
}
/*流星图书的div*/
#xitong{
    width: 180px;
    height: 20px;
    margin-left: 15px;
    margin-top: 15px;
    float: left;
}
/*界面标题文字*/
#span1{
    font-size: 40px;
    font-family: 楷体;
}

/*登录框*/
#denglukuang{
    margin-top: 110px;
    margin-left: 900px;
    width: 330px;
    height: 350px;
    background-color: white;
}
/*登录框标题div*/
#biaotou{
    width: 120px;
    height: 40px;
    margin-left: 100px;
    padding-top: 30px;
}
/*登录框标题文字*/
#span2{
    font-size: 30px;
}

/*输入框*/
#shurukuang{
    width: 230px;
    height: 200px;
    padding-top: 50px;
    margin-left: 50px;
}
/*输入框大小*/
#staName,#password,#denglu{
    width: 230px;
    height: 40px;
}
/*注册框*/
#shuru{
    width: 230px;
    height: 30px;
    margin-top: 6px;
}
/*注册文字*/
#zhuce{
    font-size: 10px;
    margin-left: 180px;
}
