span{
    height: 20px;
}

body{
    margin: 0px;
    padding: 0px;
    background-size: 100%;					/*图片大小*/
    background-repeat: no-repeat;				/*背景图片不重复*/
    background-image: url(../../img/2.jpg);
}