body{
    margin: 0px;
    padding: 0px;
    background-size: 100%;					/*图片大小*/
    background-repeat: no-repeat;
    background-image: url(../../img/2.jpg);
}
form{
    width: 1090px;
    height: 500px;
    margin-left: 60px;
    margin-top: 20px;

}

#book_div1,#book_div2,#book_div3{
    width: 340px;
    height: 300px;
    float: left;
    margin: 30px 10px;

}
h1{
    margin-left: 750px;
    font-family: 楷体;
}
label,input{
    margin-top:30px ;
}
input{
    width: 140px;
    border: 0px;									/*边框*/
    outline: 0px;									/*轮廓*/
    background: none;								/*背景*/
    border-bottom: 1px solid blue;					/*下边框*/
}

#btn{
    margin-left: 700px;
    margin-top: 30px;
}
.btn{
    margin-left: 10px;
}