/*背景图片*/
body{
    margin: 0px;
    padding: 0px;
    background-size: 100%;					/*图片大小*/
    background-repeat: no-repeat;
    background-image: url(../../img/2.jpg);
}

/*表单*/
form{
    width: 1090px;
    height: 500px;
    margin-left: 60px;
    margin-top: 20px;

}
/*表单中的三个div容器*/
#book_div1,#book_div2,#book_div3{
    width: 340px;
    height: 300px;
    float: left;
    margin: 30px 10px;

}
/*添加界面的标题字体*/
h1{
    margin-left: 750px;
    font-family: 楷体;
}

label,input{
    margin-top:30px ;
}
/*输入框*/
input{
    width: 140px;
    border: 0px;									/*边框*/
    outline: 0px;									/*轮廓*/
    background: none;								/*背景*/
    border-bottom: 1px solid blue;					/*下边框*/
}
/*添加按钮*/
#btn{
    margin-left: 700px;
    margin-top: 30px;
}

.btn{
    margin-left: 10px;
}
/*span错误显示*/
.tianjia{
    color: red;
    font-size:8px
}

/*输入框对齐*/
#input-press{
    margin-left: 20px;
}

#input-translator{
    margin-left: 30px;
}

#input-author{
    margin-left: 30px;
}