<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.AdminDao">
    <select id="getAdmins" resultType="com.entity.Login">
        select sta_id,sta_name,sta_sex,nation,birthday,idcard,address,phone,graduate,hiredate,password from administrator
       where sta_name=#{name}
    </select>

<!--    <update id="updateAdmin" parameterType="com.entity.Login">-->
<!--        update administrator-->
<!--        set sta_name=#{staName},-->
<!--            sta_sex=#{staSex},-->
<!--            nation=#{nation},-->
<!--            birthday=#{birthday},-->
<!--            idcard=#{idcard},-->
<!--            address=#{address},-->
<!--            phone=#{phone},-->
<!--            graduate=#{graduate},-->
<!--            hiredate=#{hiredate},-->
<!--            password=#{password}-->
<!--            where sta_id=#{staId}-->
<!--    </update>-->
    <update id="updateAdmin" parameterType="com.entity.Login">
        update administrator
            set password=#{password}
            where sta_name=#{staName}
    </update>

    <delete id="deleteAdmin" parameterType="integer">
       delete from administrator where sta_id=#{staId}
   </delete>

    <select id="getAdmin" resultType="com.entity.Login">
        select sta_id,sta_name,sta_sex,nation,birthday,idcard,address,phone,graduate,hiredate,password from administrator
        where sta_name=#{staName}
    </select>

</mapper>