<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.BooksDao">
    <select id="getAll" resultType="com.entity.Books" parameterType="integer">
        select book_id,book_name,author,translator,press,presstime,sort_id,total,surplus,position,registertime,synopsis from books
    </select>

    <insert id="insert" parameterType="com.entity.Books" >
        insert into books(book_name,author,translator,press,presstime,sort_id,total,surplus,position,registertime,synopsis)
            values(#{bookName},#{author},#{translator},#{press},#{presstime},#{sortId},#{total},#{surplus},#{position},#{registertime},#{synopsis})
    </insert>

    <delete id="delete">
        delete from books where book_id=#{bookId}
    </delete>

    <update id="update">
        update books
        set book_name=#{bookName},
                         author=#{author},
                         translator=#{translator},
                         press=#{press},
                         presstime=#{presstime},
                         sort_id=#{sortId},
                         total=#{total},
                         surplus=#{surplus},
                         position=#{position},
                         registertime=#{registertime},
                        synopsis=#{synopsis}

                    where book_id=#{bookId}
    </update>
    <select id="get"  resultType="com.entity.Books">
        select book_id,book_name,author,translator,press,presstime,sort_id,total,surplus,position,registertime,synopsis from books where book_id=#{bookId}
    </select>

    <!--    书名查询-->
    <select id="getBookName" resultType="com.entity.Books">
        select book_id,book_name,author,translator,press,presstime,sort_id,total,surplus,position,registertime,synopsis from books
        where 1=1
        <if test="bookName!=null and bookName!=''">
            and  book_name LIKE '%' #{bookName} '%'
        </if>

    </select>

    <select id="getBookType" resultType="com.entity.Books">
        select book_id,book_name,author,translator,press,presstime,sort_id,total,surplus,position,registertime,synopsis from books
    <if test="sortId!=null and sortId!=''">
        where sort_id=#{sortId}
    </if>
</select>

</mapper>