<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.GivebackDao">
    <select id="getGiveback" parameterType="integer" resultType="com.entity.Giveback">
        select a.gb_id,book_id,read_id,over_time,event_rent,rent_day,rent,state,breakage,b.lendtime,b.returntime from giveback a,borrow b where a.book_id=b.book_id and a.read_id and b.read_id
    </select>

    <insert id="insertGiveback">
        insert into giveback(book_id,read_id,over_time,event_rent,rent_day,rent,state,breakage) values(#{bookId},#{readId},#{overTime},#{eventRent},#{rentDay},#{rent},#{state},#{breakage})
    </insert>
    <update id="updateGiveback">
        update books set total =total+1 where book_id=#{bookId}
    </update>
    <delete id="deleteGiveback">
        delete from borrow where book_id=#{bookId}
    </delete>
</mapper>