<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.GivebackDao">
    <select id="getGiveback" parameterType="integer" resultType="com.entity.Giveback">
        select gb_id,book_id,read_id,lendtime,returntime,over_time,event_rent,rent_day,rent,state,breakage from giveback
        where shifou_return='是'
    </select>

    <update id="updateBookNum">
        update books
        set surplus =surplus+1
        where book_id=#{bookId}
    </update>
    <update id="updateGiveback">
        update giveback
        set shifou_return='是'
        where book_id=#{bookId}
    </update>

</mapper>