<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.LoginDao">
    <select id="logins" resultType="com.entity.Login">
        select sta_id,sta_name,password from administrator where sta_name=#{staName}
    </select>

    <insert id="register" parameterType="com.entity.Login">
        insert into administrator(sta_name,sta_sex,nation,birthday,idcard,address,phone,graduate,hiredate,password)
        values(#{staName},#{staSex},#{nation},#{birthday},#{idcard,jdbcType=INTEGER},#{address},#{phone},#{graduate},#{hiredate},#{password})
    </insert>

</mapper>
